<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <img src="/assets/img/img4.jpg">
    <ion-item>
        <ion-label color="success" position="floating">E-mail</ion-label>
        <ion-input color="success" type="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="success" position="floating">Senha</ion-label>
        <ion-input color="success" type="password"></ion-input>
    </ion-item>

  <ion-grid fixed>
    <ion-row>
     <ion-col size="10" offset="1">
       <ion-button color="success"
                   expand="full"
                   shape="round"
                   mode="ios"
                   class="btn-primary">
        Entrar
       </ion-button>
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="full" routerLink="/cadastro"
                    fill="clear">
          <ion-label color="dark">Crie uma conta</ion-label>
        </ion-button>
      </ion-col>
     </ion-row>
  </ion-grid>
</form>
</ion-content>