<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor='let evento of eventos'>
    <ion-card (click)="clicked(evento.id)">
      <img src="{{ evento.urlImg }}" />
      <ion-card-header>
        <ion-card-subtitle>{{ evento.data | date: 'dd/MM/yyyy' }}</ion-card-subtitle>
        <ion-card-title>{{ evento.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ evento.descricao }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
