<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor='let evento of eventos'>
    <img src="{{ evento.urlImg }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ evento.data }}</ion-card-subtitle>
      <ion-card-title>{{ evento.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ evento.descricao }}
    </ion-card-content>
  </ion-card>
</ion-content>
