<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Artistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor='let artista of artistas'>
      <ion-item (click)="clicked(artista.id)">
        <ion-avatar slot="start">
          <img src="{{ artista.urlImg }}">
        </ion-avatar>
        <ion-label>
          <h2>{{ artista.nome }}</h2>
          <h3>{{ artista.tipo }}</h3>
          <p>{{ artista. descricao}}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>